$lightCheck:rgb(80, 80, 80);
$darkCheck:#2e2e2e;

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

*,
*:after,
*:before {
  box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6 {
  padding:0;
  margin:0;
}

body {
  font-family:Lato;
  background-color:$lightCheck;
  background-image: 
    linear-gradient(45deg, $darkCheck 25%, transparent 25%), 
    linear-gradient(-45deg, $darkCheck 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, $darkCheck 75%), 
    linear-gradient(-45deg, transparent 75%, $darkCheck 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  height:100%;
  display:flex;
  flex-flow:row nowrap;
}

.output {
  color:white;
}

.nested-scroll {
  height:50px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.sheet-container {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;

  .sheet-backdrop {
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.6));
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1;
    opacity:0;
  }

  .sheet {
    position:absolute;
    bottom:0;
    left:50%;
    width:360px;
    padding:0;
    z-index:2;
    background:white;
    border-radius:4px 4px 0 0;
    display:flex;
    flex-flow:column nowrap;
    transform:translate(-50%, 100%);
  }

  .sheet-title {
    padding:10px;
    border-bottom:1px solid #c0c0c0;
  }

  .sheet-content {
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    max-height:380px;
  }

  .sheet-footer {
    background:white;
    width:100%;
    display:flex;
    align-items: stretch;
  }

  .sheet-icon-row {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    margin:0 40px;

    > i {
      width:40px;
      height:40px;
      background:gray;
      margin:10px;
    }

    &.bigger { 
      margin:0 20px;
      
      > i {
      width:60px;
      height:60px;
    }
    }
  }

  .sheet-list {
    list-style:none;
    margin:0;
    padding:0;
    .sheet-list-item {
      margin:0;
      padding:12px;
      border-bottom:1px solid #eaeaea;
      &:first-child {
        border-top:1px solid #eaeaea;
      }
    }
  }

  .sheet-button {
    -webkit-appearance: none;
    appearance: none;
    width:100%;
    margin:5px;
    padding:20px;
    flex:1 0 0;
    border-radius:10px;
    background:#797979;
    color:#fefefe;
  }
}