.sheet-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .sheet-backdrop {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    );
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }

  .sheet {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 360px;
    padding: 0;
    z-index: 2;
    background: white;
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-flow: column nowrap;
    transform: translate(-50%, 100%);
  }

  .sheet-title {
    padding: 10px;
    border-bottom: 1px solid #c0c0c0;
  }

  .sheet-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 380px;
  }

  .sheet-footer {
    background: white;
    width: 100%;
    display: flex;
    align-items: stretch;
  }

  .sheet-horizontal-scroll {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .sheet-icon-row {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 10px;

    > i {
      width: 44px;
      height: 44px;
      flex: 0 0 44px;
      background: gray;
      margin: 10px;
    }

    &.bigger {
      > i {
        width: 60px;
        height: 60px;
        flex-basis: 60px;
      }
    }
  }

  .sheet-list {
    list-style: none;
    margin: 0;
    padding: 0;
    .sheet-list-item {
      margin: 0;
      padding: 12px;
      border-bottom: 1px solid #eaeaea;
      &:first-child {
        border-top: 1px solid #eaeaea;
      }
      &:last-child {
        margin-bottom: calc(32px + env(safe-area-inset-bottom));
      }
    }
  }

  .sheet-button {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin: 5px;
    padding: 20px;
    flex: 1 0 0;
    border-radius: 10px;
    background: #797979;
    color: #fefefe;
  }
}
