/* You can add global styles to this file, and also import other style files */
@import "../../style.scss";

$lightCheck: rgb(80, 80, 80);
$darkCheck: #2e2e2e;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato;
  background-color: $lightCheck;
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  height: 100%;
}

.button {
  display: block;
  appearance: none;
  background: #67b44f;
  color: #2e2e2e;
  border: 1px solid #2a4d20;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 2rem;
}

.github {
  display: block;
  color: #dadada;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin-top: 3em;
}

.output {
  display: flex;
  flex-flow: row nowrap;
  color: #efefef;
  margin: 4px;
  background: #111111;
  align-content: stretch;

  label {
    background: #2e2e2e;
    padding: 4px 8px;
  }
  output {
    background: #111111;
    padding: 4px;
  }
}

.nested-scroll {
  height: 50px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
